{% extends 'base.html.twig' %}

{% block title %}Voir les informations des <strong>articles</strong>{% endblock %}

{% block body %}
    <section class="container w-75 my-5 text-center">
        <h1 class="mb-3">Liste de vos <strong>articles</strong> enregistrés</h1>
        <div class="row">
            <table class="table table-hover bg-light my-3">
                <thead class="table-dark">
                    <tr>
                        <td>N°</td>
                        <td>Titre</td>
                        <td>Contenu</td>
                        <td>Image</td>
                        <td>Modifié le</td>
                    </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.content }}</td>
                        <td>{{ post.picture }}</td>
                        <td>{{ post.createdAt.format('d/m/Y') }}</td>
                        <td>{% if post.updatedAt != null %}{{ post.updatedAt.format('d/m/Y') }}{% else %} Pas encore{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </section>
{% endblock %}